.setwrap .lis {
  margin-top: 30px;
  height: 100px;
}
.setwrap .lis .am-list-body {
  height: 100px;
}
.setwrap .lis .am-list-body .am-list-item-middle {
  height: 100px;
  background-color: #40404c !important;
}
.setwrap .lis .am-list-body .am-list-item-middle .am-list-content {
  color: #fff !important;
}
.setwrap .btn {
  margin-top: 30px;
}
