.wrap {
  width: 100%;
  height: 100%;
  background-color: #f5f6f7;
  color: #000;
}
.wrap .header {
  background: #fff;
  position: relative;
}
.wrap .header .image {
  width: 100%;
  height: 380px;
  overflow: hidden;
}
.wrap .header .image img {
  width: 100%;
}
.wrap .header .seting {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  font-size: 46px;
}
.wrap .header .login {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  color: #fff;
  text-align: center;
}
.wrap .header .login .icon-denglu {
  font-size: 100px;
}
.wrap .header .login .text {
  font-size: 28px;
  line-height: 45px;
}
.wrap .header .loginSuccess {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
}
.wrap .header .computed {
  position: relative;
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.wrap .header .computed::after {
  content: '';
  position: absolute;
  left: 55%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #e2e2e2;
}
.wrap .header .computed .videoNum,
.wrap .header .computed .personNum {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.wrap .header .computed .videoNum .num,
.wrap .header .computed .personNum .num {
  color: #fd5790;
  font-size: 45px;
}
.wrap .header .computed .videoNum .text,
.wrap .header .computed .personNum .text {
  font-size: 30px;
}
.wrap .content {
  background-color: #fff;
  margin-top: 25px;
  padding: 0 20px;
}
.wrap .content .imageLeft {
  width: 140px;
  height: 140px;
}
.wrap .content .imgrigtt {
  width: 36px;
  height: 64px;
  position: absolute;
  right: 20px;
  top: 60px;
}
.wrap .content .contentItem {
  position: relative;
  display: flex;
  line-height: 140px;
  padding: 15px 0;
  border-bottom: 1px solid #e3e3e3;
}
.wrap .content .contentItem div {
  margin-left: 30px;
  font-size: 35px;
}
