.login {
  width: 100%;
  height: 100%;
  position: relative;
}
.login .loginbk {
  width: 100%;
  height: 100%;
}
.login .loginbk img {
  width: 100%;
  height: 100%;
}
.login .loginItem {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}
.login .loginItem .content {
  width: 100%;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.login .loginItem .title {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.login .loginItem .content .top {
  width: 100%;
  height: 50px;
  background-color: #fb8516;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
}
.login .loginItem .content form {
  display: flex;
  padding: 20px 50px;
  flex-direction: column;
}
.login .loginItem .content form input {
  border: none;
  border-bottom: 1px solid #eaeaea;
  height: 30px;
  margin-top: 30px;
  outline: none;
}
.login .loginItem .content form button {
  margin-top: 30px;
  border: none;
  background-color: #fb8516;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  outline: none;
}
